.my-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-container > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-container > .video-container {
    height: 300px;
    width: 400px;
    border: 1px solid black;
}

.my-container > .hasil-scan-container {
    display: grid;
    place-items: center;
    height: 50px;
    width: 400px;
    background-color: steelblue;
    /* border: 1px solid black; */
}

.video-container > video {
    width: 100%;
    height: 100%;
}

.hasil-scan-container > p {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    .my-container > .video-container {
        height: 150px;
        width: 200px;
    }

    .my-container > .hasil-scan-container {
        height: 25px;
        width: 200px;
    }

    .hasil-scan-container > p {
        font-size: 1em;
    }
}