body, html {
    margin: 0;
}

.container {
    position: relative;
}

.container > * {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container > img {
    margin-top: 5px;
}

.container > .nama-barang {
    margin-top: 23px;
}