body, html {
    height: 100%;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.container {
    height: 70%;
    width: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-text {
    margin-top: -30px;
    font-size: 24pt;
}

#my-signin2 {
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}